{% extends "base.html" %} {% block title %} {{workout_name}} {% endblock title
%} {% block content %}
<h1>{{workout_name}}</h1>
<div class="container-workout">
  <div class="row">
    <div class="col">
      <form method="get">
        {% for field in browse_form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
          {{field.label}} {{field(class_="form-control")}}
        </div>
        {% endfor %}
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Filter</button>
        </div>
      </form>
      <h2><b>Exercises</b></h2>
      {% if exercises == [] %}
      <h4>-- No Exercises Match Your Filters --</h4>
      {% else %} {% for exercise in exercises %}
      <h4>
        <a href="/exercise/{{exercise.id}}">{{exercise.name}}</a>
        <button class="btn btn-success btn-sm" data-id="{{exercise.id}}">
          add
        </button>
      </h4>
      {% endfor %} {% endif %}
    </div>
    <div class="col">
      <h2>Exercise List</h2>
      <ul id="selected-exercises"></ul>
    </div>
  </div>
</div>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/addWorkoutExercises.js"></script>
{% endblock content %}
