{% extends "execute_workout_base.html" %}
{% block workout %}
<p>
  <span id="minutes">00</span>
  <span id="seconds">00</span>
  <span id="tenths">00</span>
</p>
<button id="button-start" class="btn btn-success">Start</button>
<button id="button-stop" class="btn btn-danger">Stop</button>
<h3>Time how long it takes to complete this set {{workout.stages}} times.</h3>
<ol>
  {% for exercise in exercises %}
  <li>
    {{exercise.count}} {{exercise.count_type}} of {{exercise.exercise.name}}
  </li>
  {% endfor %}
</ol>
{% endblock workout %}
{% block script %}
<script src="/static/executeRFT.js"></script>
{% endblock script %}