{% extends "base.html" %} {% block title %} {{workout.name}} {% endblock title
%}
{% block content %}
<h1 id="workout" data-id="{{workout.id}}">{{workout.name}}</h1>

<div class="display-1 text-center mb-2 text-monospace">
<div id="timer" class="d-inline-block">
{% if workout.type == EMOM %}
  <span id="seconds" class="pl-2">60</span>
  <span id="tenths" class="pr-2">00</span>
{% else %}
  <span id="minutes">00</span>
  <span id="seconds">00</span>
  <span id="tenths">00</span>
{% endif %}

</div>
</div>
<div id="timer-buttons" class="text-center mb-3">
<button id="button-start" class="btn btn-success">Start</button>
<button id="button-stop" class="btn btn-danger">Pause</button>
</div>


{% block workout %}

{% endblock workout %}
<button id="button-log" class="btn btn-info">Log Results</button>
<div class="collapse mt-2" id="log-container">
  <form
    action="/users/{{username}}/workout/{{workout.id}}/log"
    method="POST"
    id="results-form"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
      <label for="results-log"
        >Store your time along with any additional notes.</label
      >
      <textarea
        name="results-log"
        id="results-log"
        cols="20"
        rows="5"
        class="form-control"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success">Save!!!</button>
  </form>
</div>
<script src="https://unpkg.com/jquery"></script>
{% block script %}

{% endblock script %}
{% endblock content %}