{% extends "base.html" %} {% block title %} History {% endblock title %} {%
block content %}
<h1 class="mb-3">{{ username }}'s workout history</h1>
{% if results == [] %}
<h3>-- You have no saved results. --</h3>
{% else %} {% endif %}
<div class="row">
  <div class="col-3">
    <h5><b>Date</b></h5>
  </div>
  <div class="col-3">
    <h5><b>Workout</b></h5>
  </div>
  <div class="col-6">
    <h5><b>Notes</b></h5>
  </div>
  {% for result in results %}

  <div class="col-3"><h5>{{ result.date }}</h3></div>
  <div class="col-3">
    <a href="/users/{{ username }}/workout/{{ result.workout.id }}"
      ><h5>{{ result.workout.name }}</h3></a
    >
  </div>
  <div class="col-6"><h5>{{ result.note }}</h3></div>
  {% endfor %}
</div>
{% endblock content %}
