{% extends "base.html" %} {% block title %} {{workout.name}} {% endblock title
%} {% block content %}
<h1>{{workout.name}}</h1>
<h2>Workout Type: {{workout.type}}</h2>
{% if workout.type == 'AMRAP' %}
<h2>Time per Stage: {{workout.stage_time}} min.</h2>
<h2>Rest Between Stages: {{rest_time}} sec.</h2>
{% set tick = namespace(value=1) %} {% for stage in workout_stages %}
<h4>Stage #{{tick.value}}</h4>
{% set tick.value = tick.value + 1 %}
<ul>
  {% for exercise in stage %}
  <li class="h5">
    {{exercise.count}} {{exercise.count_type}} of
    <a href="/exercise/{{exercise.exercise.id}}">{{exercise.exercise.name}}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %} {% elif workout.type == 'EMOM' %}
<h2>Every Minute, on the Minute</h2>
<ol>
  {% for exercise in exercises %}
  <li class="h5">
    - {{exercise.count}} {{exercise.count_type}} of
    <a href="/exercise/{{exercise.exercise.id}}">{{exercise.exercise.name}}</a>
  </li>
  {% endfor %}
</ol>
{% elif workout.type == 'RFT' %}
<h2>Complete {{workout.stages}} rounds as quickly as possible.</h2>
<ol>
  {% for exercise in exercises %}
  <li class="h5">
    - {{exercise.count}} {{exercise.count_type}} of
    <a href="/exercise/{{exercise.exercise.id}}">{{exercise.exercise.name}}</a>
  </li>
  {% endfor %}
</ol>
{% endif %}

<form>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <a
    class="btn btn-success"
    href="/users/{{username}}/workout/{{workout.id}}/execute"
    >Start This Workout!</a
  >
  <button
    class="btn btn-danger"
    formmethod="post"
    formaction="/users/{{username}}/workout/{{workout.id}}/delete"
  >
    Delete Workout
  </button>
</form>

{% endblock content %}
